@use '../variables' as *;

.button {
    background-color: $color-primary;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  
    &:hover { background-color: $color-primary-dark; }
    &:active { transform: scale(1.05); }
  }
  