@use '../variables' as *;

.card {
    border-radius: $border-radius;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  
    & img { width: 100%; height: 100%; object-fit: cover; display: block; }
  
    &--main {
      position: relative;
  
      .circle {
        position: absolute;
        left: 30%; top: 25%;
        width: 40%; aspect-ratio:1/1;
        border: 3px solid white; border-radius:50%;
        display: flex; justify-content:center; align-items:center;
        transition:0.4s;
  
        .circle-inner { 
          width:100%;
          aspect-ratio: 1 / 1;
          background-image: url("../img/Komisar.webp");
          background-size: cover; 
          background-position: center; 
          border-radius:50%; 
          transition: 0.4s;

        }
        .plus { 
          position: absolute;
          left: 90%;
          top: 40%;
          font-size: 40px;
          width: 20%;
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: aqua;
          color: white;
          border-radius: 50%;
          transition: 0.4s;
        }
      }
  
      &:hover {
        .circle { left:25%; top:20%; width:50%; }
        .circle-inner { width:90%; }
        .plus { transform: rotate(90deg); }
      }
    }
  }
  