# ---------------------------------------------------------------- #
#                  1. ЗАЛЕЖНОСТІ ТА ЗГЕНЕРОВАНІ ТЕКИ                  #
# ---------------------------------------------------------------- #
/node_modules    # Залежності NPM
/dist            # Вихідна тека компіляції Pug/HTML (згенеровані файли)
/build           # Альтернативна тека для збірки
/coverage        # Тека зі звітністю про покриття тестів

# ---------------------------------------------------------------- #
#                  2. ФАЙЛИ СЕРЕДОВИЩА ТА ЛОГИ                      #
# ---------------------------------------------------------------- #
.env             # Файл конфігурації з чутливими даними (ОБОВ'ЯЗКОВО!)
.env.local       # Локальні змінні оточення
npm-debug.log* # Логи помилок NPM
yarn-error.log* # Логи помилок Yarn

# ---------------------------------------------------------------- #
#                  3. ФАЙЛИ РЕДАКТОРІВ ТА ОС                         #
# ---------------------------------------------------------------- #
.DS_Store        # Системний файл macOS
.vscode/         # Налаштування редактора VS Code
.idea/           # Налаштування редактора WebStorm/IntelliJ