.block-1,
.block-2 {
  width: 300px;
  border: 2px solid black;
  position: absolute;
}

.block-1 {
  background-color: rgb(24, 171, 81);
  height: 100px;
  top: 65%;
}

.block-2 {
  height: 0;
  opacity: 0;
  transition: 0.3s;
  padding: 20px;
  background-color: rgb(80, 121, 202);
  width: 260px;
  top: 11%;
}

.main-content .block-1:nth-of-type(1),
.main-content .block-2:nth-of-type(4) {
  left: 20%;
}

.main-content .block-1:nth-of-type(2),
.main-content .block-2:nth-of-type(5) {
  left: 41%;
}

.main-content .block-1:nth-of-type(3),
.main-content .block-2:nth-of-type(6) {
  left: 62%;
}

.main-content .block-1:nth-of-type(1):hover ~ .block-2:nth-of-type(4),
.main-content .block-1:nth-of-type(2):hover ~ .block-2:nth-of-type(5),
.main-content .block-1:nth-of-type(3):hover ~ .block-2:nth-of-type(6) {
  height: 310px;
  opacity: 1;
  transition: 0.3s;
}

.main-content .block-1:nth-of-type(1):active ~ .block-2:nth-of-type(4),
.main-content .block-1:nth-of-type(2):active ~ .block-2:nth-of-type(5),
.main-content .block-1:nth-of-type(3):active ~ .block-2:nth-of-type(6) {
  opacity: 1;
  border-radius: 5%;
  box-shadow: 3px 3px 4px black;
  transition: 0.1s;
}