.main-content {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-optical-sizing: auto;
  font-style: normal;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

footer {
  text-align: center;
  top: 90%;
}

footer img {
  width: 60px;
  height: auto;
}
