@use 'variables' as *;

@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin respond-to($breakpoint) {
    @if $breakpoint == desktop { @media (max-width: $bp-desktop) { @content; } }
    @else if $breakpoint == tablet { @media (max-width: $bp-tablet) { @content; } }
    @else if $breakpoint == mobile { @media (max-width: $bp-mobile) { @content; } }
  }
  