$color-primary: #d25252;
$color-primary-dark: #b44141;
$color-gray-dark: #3e3e3e;
$color-gray-medium: #6f6f6f;
$color-gray-light: #858585;
$color-footer-bg: #292929;
$color-footer-text: #858585;

$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$header-height: 70px;
$footer-padding: 30px;
$border-radius: 8px;

$bp-desktop: 1080px;
$bp-tablet: 768px;
$bp-mobile: 576px;
