.main-content {
  width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  padding: 0;
  overflow: hidden;
  clear: both;
}

.block {
  padding: 20px 40px;
  text-align: justify;
  color: white;
  background-color: rgb(97, 8, 8);
  border-radius: 40px;
  margin-bottom: 30px;
}

.block-name {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding: 0px;
  text-align: center;
}

.block--bottom {
  background-color: rgb(155, 89, 89);
}

.block--left,
.block--right {
  background-color: rgb(181, 45, 45);
  border-radius: 20%;
  margin-top: 20px;
  margin-top: 20px;
  width: 38%;
}
.block--left {
  float: left;
}
.block--right {
  float: right;
}

.block > p {
  margin-bottom: 10px;
}

.block > div::after {
  content: "";
  display: block;
  clear: both;
}

.bottom-p {
  clear: both;
}
