@use '../variables' as *;

body {
    font-family: $font-raleway;
    font-size: 16px;
    padding-top: $header-height;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    width: 100%;
    text-align: center;
    font-family: $font-roboto;
    font-size: 40px;
    font-style: normal;
  }
  
  main {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }