:root {
  --font-family: system-ui, -apple-system, "Roboto", Arial, sans-serif;
  --body-margin: 20px auto;
  --body-width: 94%;
  --gap: 20px;
  --border: 2px solid rgb(190, 0, 0);
  --border-radius: 5px;
  
  --mobile-columns: 100%;
  --mobile-rows: repeat(9, 2fr);
  
  --tablet-columns: repeat(4, 2fr);
  --tablet-rows: repeat(9, 2fr);
  --tablet-height: 600px;
  --tablet-margin-top: 10px;
  
  --desktop-columns: repeat(4, 2fr);
  --desktop-rows: repeat(9, 2fr);
  --desktop-height: 600px;
  --desktop-margin-top: 10px;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-family: var(--font-family);
  margin: var(--body-margin);
  grid-template-columns: var(--mobile-columns);
  grid-template-rows: var(--mobile-rows);
  display: grid;
  gap: var(--gap);
  width: var(--body-width);
  height: 100vh;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
}

.head {
  grid-row: 1;
  grid-column: auto;
}
.navigation {
  grid-row: 2;
  grid-column: auto;
}
.main {
  grid-row: 3/7;
  grid-column: auto;
}
.sidebar {
  grid-row: 7;
  grid-column: auto;
}
.ads {
  grid-row: 8;
  grid-column: auto;
}
.footer { 
  grid-row: 9;
  grid-column: auto;
}

@media (min-width: 576px) {
  body {
    grid-template-columns: var(--tablet-columns);
    grid-template-rows: var(--tablet-rows);
    height: var(--tablet-height);
    margin-top: var(--tablet-margin-top);
  }
  .head {
    grid-row: 1;
    grid-column: 1/5;
  }
  .navigation {
    grid-row: 2;
    grid-column: 1/5;
  }
  .main {
    grid-row: 3/9;
    grid-column: 2/5;
  }
  .sidebar {
    grid-row: 3/9;
    grid-column: 1;
  }
  .ads {
    grid-row: 9;
    grid-column: 1;
  }
  .footer {
    grid-row: 9;
    grid-column: 2/5;
  }
}

@media (min-width: 768px) {
  body {
    grid-template-columns: var(--desktop-columns);
    grid-template-rows: var(--desktop-rows);
    height: var(--desktop-height);
    margin-top: var(--desktop-margin-top);
  }
  .head {
    grid-row: 1;
    grid-column: 1/5;
  }
  .navigation {
    grid-row: 2;
    grid-column: 2/4;
  }
  .main {
    grid-row: 3/9;
    grid-column: 2/4;
  }
  .sidebar {
    grid-row: 2/9;
    grid-column: 1;
  }
  .ads {
    grid-row: 2/9;
    grid-column: 4;
  }
  .footer {
    grid-row: 9;
    grid-column: 1/5;
  }
}