footer
  .container
    p 2014 Keepsake. All rights. Theme by elemis
    .media
      img(src="img/media/whatsapp.png", alt="WhatsApp")
      img(src="img/media/facebook.png", alt="Facebook")
      img(src="img/media/twitter.png", alt="Twitter")
      img(src="img/media/instagram.png", alt="Instagram")
      img(src="img/media/pinterest.png", alt="Pinterest")