include ../mixins/nav-item

input(type="checkbox" id="menu-toggle")
  label.burger(for="menu-toggle")
    .line

  nav.tub
    each item in ["Home", "About", "Services", "Contact"]
      +navItem(item)

    img(src="img/icons/heart.png", alt="Profile")