@use '../mixins' as *;
@use '../variables' as *;

footer {
    background-color: $color-footer-bg;
    text-align: center;
    padding: $footer-padding;
  
    p { color: $color-footer-text; margin-bottom: 30px; font-size: 16px; }
  
    .media {
      @include flex-center(row, center, center);
      gap: 10px;
      margin-bottom: 10px;
  
      img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        transition: transform 0.3s, opacity 0.3s;
  
        &:hover { transform: scale(1.1); opacity: 0.85; }
      }
    }
  
    @include respond-to(tablet) {
      padding: 20px;
      p { font-size: 14px; margin-bottom: 20px; }
      .media { gap: 8px; img { width: 30px; height: 30px; } }
    }
  }
  